---
import InfoTextContact from "@/components/ui/InfoTextContact.astro";
import ContactForm from "@/components/ui/ContactForm.astro";


---

<section class="max-w-7xl mx-auto px-4 container z-10 pb-44">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-24 mt-40 w-auto">
        <div>
            <article>
                <InfoTextContact />
            </article>
        </div>
        <div>
            <ContactForm />
        </div>
    </div>
</section>
