---
import HeroCta from '@/components/ui/HeroCta.astro';

---

<HeroCta 
buttons={[{
    text: 'Book a 15-min intro call',
    variant: 'primary',
    href: '/contact-us',
    target: '_self',
    ariaLabel: 'Button'
}, {
        text: 'See services',
        variant: 'primaryPurple',
        href: '/services',
        target: '_self',
        ariaLabel: 'Button'
    }]}
    isMainHero={true}
    titleClassName='lg:text-7xl max-w-6xl md:text-5xl text-2xl font-archivo-black mb-10 text-neutral-200 text-center'
    subtitle='We design, build, and maintain automations and web experiences that cut busywork, reduce errors, and ship faster.'
    subtitleClassName='lg:text-xl md:text-lg text-sm text-center text-neutral-400'
    >
    <span slot="title" >
          <span class="bg-gradient-to-r from-gradient-start via-gradient-middle to-gradient-end bg-clip-text text-transparent">AI automation that runs your operations</span> 
    </span>
</HeroCta>


