---
import HeroCta from '@/components/ui/HeroCta.astro';

---

<HeroCta 
butons={[{
    text: 'Contact',
    variant: 'secondaryTurquoise',
    href: '/contact',
    target: '_self',
    ariaLabel: 'Button'
}, {
        text: 'Request a demo',
        variant: 'secondary',
        href: '/contact',
        target: '_self',
        ariaLabel: 'Button'
    }]}
    titleClassName='lg:text-6xl max-w-6xl md:text-5xl text-2xl font-archivo-black xl:mb-24 md:mb-12 mb-10 text-white text-center'
    subtitle='Your brand, your identity, and your processes, all running automatically'
    subtitleClassName='lg:text-xl md:text-lg text-sm text-white text-center mb-10 md:mb-12 xl:mb-24'
    >
    <span slot="title">
        Intelligent <span class="bg-gradient-to-r from-primary-purple via-primary-turquoise to-primary-turquoise bg-clip-text text-transparent">automation with AI</span>, web development, and tailored products for your business
    </span>
</HeroCta>


