---
import ContactCta from '@/components/ui/ContactCta.astro';
import ServicesCards from '@/components/ui/ServicesCards.astro';
---

<section class="max-w-7xl mx-auto px-4 container z-10 h-[100dvh] ">
    <h1 class="text-4xl font-bold  mb-24 text-white">What Nous can offer to your business?</h1>
    <div>
        <ServicesCards />
    </div>
    <ContactCta />
</section>