---
import ContactCta from '@/components/ui/ContactCta.astro';
import ServicesCards from '@/components/ui/ServicesCards.astro';
import {ServiceTabs} from '@/components/react/ServiceTabs';
import ServiceCardsPurpose from '@/components/ui/ServiceCardsPurpose.astro';
---

<section class="max-w-7xl mt-32 mx-auto px-4 container z-10">
    <h1 class="text-4xl font-bold md:mb-12 mb-8 text-white">What Nous can offer to your business?</h1>
    <div>
         <ServiceTabs client:only="react"/>
    </div>
    <ContactCta />
</section>