---
interface Props {
    strokeColor?: string;
}

const { strokeColor = "#8458FF" } = Astro.props;
---

<span class="group-hover:translate-x-0.5 transition-transform duration-300">
    <svg
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_2068_1350)">
        <path
          d="M6.00016 13.334H4.00016C3.29292 13.334 2.61464 13.053 2.11454 12.5529C1.61445 12.0528 1.3335 11.3746 1.3335 10.6673V4.66732C1.3335 3.96007 1.61445 3.2818 2.11454 2.7817C2.61464 2.2816 3.29292 2.00065 4.00016 2.00065H11.3335C12.0407 2.00065 12.719 2.2816 13.2191 2.7817C13.7192 3.2818 14.0002 3.96007 14.0002 4.66732V6.66732M5.3335 1.33398V2.66732M10.0002 1.33398V2.66732M1.3335 5.33398H14.0002M12.3335 10.4293L11.3335 11.4293"
          stroke={strokeColor}
          stroke-width="1.33333"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M11.3333 14.6667C13.1743 14.6667 14.6667 13.1743 14.6667 11.3333C14.6667 9.49238 13.1743 8 11.3333 8C9.49238 8 8 9.49238 8 11.3333C8 13.1743 9.49238 14.6667 11.3333 14.6667Z"
          stroke={strokeColor}
          stroke-width="1.33333"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
      <defs>
        <clipPath id="clip0_2068_1350">
          <rect width="16" height="16" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </span>