---
import { Carousel } from '@/components/react/Carousel';
import chatBotFlows from '@/assets/chatBotFlows.png'
import webDevelopment from '@/assets/webDevelopment.png'
import aiAutomation from '@/assets/aiAutomatization.png'
interface Slide {
    title: string;
    button: string;
    src: string;
}
const slides: Slide[] = [
    {
        title: "Chatbot flows",
        button: "Demo",
        src:  chatBotFlows.src      
    },
    {
        title: "AI Automation",
        button: "Demo",
        src: aiAutomation.src
    },
    {
        title: "Custom Web Development",
        button: "Portfolio",
        src: webDevelopment.src
    },
    
]
---
<div class="overflow-hidden md:h-[78vh] mt-52 relative"
    >
    <div class="absolute inset-0 top-5 bg-gradient-to-b from-primary-blue via-primary-purple to-primary-black [mask-image:radial-gradient(ellipse_at_center_40%,black_10%,transparent_60%)] opacity-100 z-0"/>
    <Carousel 
    slides={slides} 
    client:load 
    />
</div>