---
const { colorDivider = 'primary-turquoise' } = Astro.props;
---

<div class="w-full h-[2px] my-4 relative overflow-hidden animate-blurred-fade-in">
    {colorDivider === 'primary-purple' ? (
        <>
            <div class="absolute inset-0 bg-gradient-to-r from-transparent via-outline to-transparent" />
            <div class="absolute inset-0 bg-gradient-to-r from-transparent via-outline to-transparent blur-sm" />
        </>
    ) : (
        <>
            <div class="absolute inset-0 bg-gradient-to-r from-transparent via-primary-turquoise/50 to-transparent" />
            <div class="absolute inset-0 bg-gradient-to-r from-transparent via-primary-turquoise to-transparent blur-sm" />
        </>
    )}
</div>