---
import FoundersCard from "@/components/ui/FoundersCard.astro";
---

<section class="mt-64 mb-40 ">
    <div class="">
        <h2 class=" text-4xl sm:text-6xl md:text-4xl font-bold appear-subtle">Meet our founders</h2>
        <p class="mt-4 text-lg sm:text-xl text-neutral-400 leading-relaxed text-pretty appear-subtle">Three technology and innovation enthusiasts joined forces to found this company with an ambitious dream: to bring AI consulting, intelligent automation, and custom web development to all of Latin America. With a shared vision of real impact, they combine their technical and strategic expertise to transform business processes and solve challenges for both startups and large industries. Together, they lead a passionate team that brings creativity and tangible results to every project.</p>
    </div>
    <div>
        <FoundersCard />
    </div>
</section>