---
import FoundersCard from "@/components/ui/FoundersCard.astro";
---

<section class="mt-64 mb-40 ">
    <div class="">
        <h2 class=" text-4xl sm:text-6xl md:text-4xl font-bold appear-subtle">Meet our founders</h2>
        <p class="mt-4 text-lg sm:text-xl text-neutral-400 leading-relaxed text-pretty appear-subtle">Three builders. One standard. They make big ideas simple, set the bar high, and stay close to the work until it ships—and sings—across Latin America.</p>
    </div>
    <div>
        <FoundersCard />
    </div>
</section>