---
import SocialLinks from "@/components/ui/SocialLinks.astro";
import GradientTittle from '@/components/ui/Tittles/GradientTittle.astro'
import NousLogo from '@/assets/NousLogo.png'

---
    <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000" data-aos-once="true">

        <img class="pb-12 w-auto" src={NousLogo.src} alt="Nous Logo" />
        <p class="sm:text-lg md:text-2xl text-xl font-medium text-neutral-300 mb-6 md:mb-40">Technology doesn't just solve problems, it creates futures. Let us build the next step toward intelligent automation and high-performance web development with you.</p>
        
        
        <GradientTittle title="Innovation starts with a conversation"/>
        
        <SocialLinks/>
    </div>


