---
import SocialLinks from "@/components/ui/SocialLinks.astro";
import NousLogo from '@/assets/NousLogo.svg'

---
    <div>

        <img class="pb-12 w-auto" src={NousLogo.src} alt="Nous Logo" />
        <p class="text-lg sm:text-xl md:text-2xl font-normal text-outline mb-6">The AI transformation is already happening.</p>
        <p class="text-base sm:text-lg md:text-xl font-normal leading-relaxed text-neutral-300 mb-10 md:mb-16">Most organizations know AI matters. The hard part is deciding where it creates real leverage, what needs to change around it, and how to help teams adopt it with clarity. That is where NOUS comes in.</p>
        
        
        <p class="text-base sm:text-lg md:text-xl font-normal text-neutral-300 mb-6">Prefer social? Say hi:</p>
        <SocialLinks/>
    </div>
