---
import  { DEFAULT_INFO_TEXT, type InfoText } from '@/types/InfoText';
import ColorDivider from './ColorDivider.astro';

const {
    infoText = DEFAULT_INFO_TEXT,
    colorDivider = 'primary-purple',
    justifyDescription = false,
    descriptionMaxWidthClass = 'max-w-lg',
} = Astro.props;
 
---

<section class="appear-subtle">
    {infoText.map((item: InfoText) => (
        <div>  
            <h2 class="text-xl mb-4">{item.title}</h2>
            <p class={`text-regular font-normal text-neutral-400 ${descriptionMaxWidthClass} text-left ${justifyDescription ? 'md:text-justify' : ''}`}>{item.description}</p>
            <ColorDivider colorDivider={colorDivider}/>
        </div>
    ))}
</section>
