---
import SocialLinks from "@/components/ui/SocialLinks.astro";
import GradientTittle from '@/components/ui/Tittles/GradientTittle.astro'
import NousLogo from '@/assets/NousLogo.svg'

---
    <div>

        <img class="pb-12 w-auto" src={NousLogo.src} alt="Nous Logo" />
        <p class="sm:text-lg md:text-2xl text-xl font-medium text-neutral-300 mb-6">Technology should feel like momentum.</p>
        <p class="sm:text-lg md:text-2xl text-xl font-medium text-neutral-300 mb-6 md:mb-40">We turn ambition into outcomes—pairing strategy, design, and AI so your team moves faster and your customers feel the difference.</p>
        
        
        <GradientTittle title="Innovation starts with a conversation"/>
        <p class="sm:text-lg md:text-2xl text-xl font-medium text-neutral-300 mb-6">Prefer social? Say hi:</p>
        <SocialLinks/>
    </div>


