---
import { ServicesAnimatedBeam } from "@/components/react/ServicesAnimatedBeam";
---

<section id="our-services">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-64 appear-left">
        <div>
            <h2 class="text-4xl font-bold">Our Services</h2>
            <p
                class="text-lg text-neutral-400 text-pretty leading-relaxed mt-4"
            >
                Specializing in intelligent automation with AI, technology
                consulting, and custom web development, we offer integrated
                solutions designed to simplify and transform operations
                throughout Latin America. We collaborate with companies of all
                sizes rom startups to large industries.
            </p>
            <h3 class="text-2xl font-bold mt-4">
                We work with a pragmatic and collaborative approach
            </h3>
            <p
                class="text-lg text-neutral-400 text-pretty leading-relaxed mt-4"
            >
                We work with an agile and collaborative approach: first, we
                actively listen to your needs and the project context; then, we
                design a clear and viable architecture that balances speed,
                cost, and quality; we implement it following best development
                practices and automated testing, ensuring deliveries meet
                agreed-upon criteria; and, finally, we offer ongoing support,
                monitoring, and adjustments based on real metrics so that the
                results are tangible, measurable, and sustainable, while always
                maintaining fluid communication between our teams.
            </p>
        </div>
        <div>
            <ServicesAnimatedBeam client:idle />
        </div>
    </div>
</section>
