---

import { ServicesAnimatedBeam } from '@/components/react/ServicesAnimatedBeam';

---

<section>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-64 mb-64">
        <div>
        <h2 class="text-4xl font-bold">Our Services</h2>
        <p class="text-lg text-neutral-400 text-pretty leading-relaxed mt-6">Specializing in intelligent automation with AI, technology consulting, and custom web development, we offer integrated solutions designed to simplify and transform operations throughout Latin America. We collaborate with companies of all sizes rom startups to large industries.</p>    
        <h3 class="text-2xl font-bold mt-6">We work with a pragmatic and collaborative approach</h3>
        <p class="text-lg text-neutral-400 text-pretty leading-relaxed mt-6">We first listen to your specific needs, then design a clear and viable solution, deliver a professional implementation, and finally provide ongoing support to ensure real results.</p>    
        </div> 
        <div>
            <ServicesAnimatedBeam client:idle/>
        </div>
    </div>

    
    
</section>



