---
import InstagramIcon from '@/components/icons/SocialLinks/InstagramIcon.svg';
import LinkedInIcon from '@/components/icons/SocialLinks/LinkedInIcon.svg';
import XIcon from '@/components/icons/SocialLinks/XIcon.svg';
import WhatsappIcon from '@/components/icons/SocialLinks/WhatsappIcon.svg';
import FacebookIcon from '@/components/icons/SocialLinks/Facebook.svg';
interface SocialLink {
    icon: string;
    url: string;
}

interface Props {
    links?: SocialLink[];
}

const DEFAULT_LINKS: SocialLink[] = [
    {
        icon: FacebookIcon.src,
        url: 'https://www.facebook.com/nousdotcr'
    },
    {
        icon: InstagramIcon.src,
        url: 'https://www.instagram.com/nousdotcr/'
    },
    {
        icon: LinkedInIcon.src,
        url: 'https://www.linkedin.com/company/nousdotcr/'
    },
    {
        icon: WhatsappIcon.src,
        url: 'https://wa.me/50661865634'
    },
    {
        icon: XIcon.src,
        url: 'https://x.com/nousdotcr'
    },
];

const { links = DEFAULT_LINKS } = Astro.props;

---

<div class="flex gap-6">
    {links.map((link) => (
        <a href={link.url} target="_blank" rel="noopener noreferrer" class="flex w-12 h-12 items-center border justify-center rounded-full hover:bg-primary-turquoise/20 hover:text-primary-blue hover:border-primary-purple  transition-all duration-300 md:hover:scale-[1.1] md:hover:animate-jiggle md:delay-[100ms]">
            <img src={link.icon } alt={link.url} />
        </a>
    ))}
</div>